header {
    text-align: center;
}

h1 {
    color: #044e9c;;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: hsl(211, 95%, 31%);
    
}

footer {
    text-align: center;
    background-color: #044e9c ;
}